<html>
	<body>
		<h1 class="title">List items</h1>
		<table id="aaa" class="tablecss" cellspacing="0" cellpadding="0" border="2">
			<tr class="tablehead">
				<th>Si.No</th>
				<th>Item Code</th>
				<th>Item Name</th>
				<th>Edit</th>
		    </tr>
		    <%i=@page * Item.default_per_page.to_i%>
		    <%for item in @items%>
		    <tr>
		    	<td>
		    		<%=i+=1%>
		    	</td>
		    	<td>
		    		<%=item.item_code%>
		    	</td>
		    	<td>
		    		<%=item.name%>
		    	</td>
		    	<td>
		    		<%=link_to "edit" , :action=>'edit', :item_id=>item.id%>
		    	</td>
		    </tr>
		    <%end%>
		    <%= paginate @items, :window => 2, :method => 'post'%>
	    </table>
	</body>
</html>
